.col {
    float: left;
    width: 30%;
}

.column-left {
    float: left;
    width: 33%;
}

.column-right {
    float: right;
    width: 33%;
}

.column-center {
    display: inline-block;
    width: 33%;
}

.container {
    width: 100%;
}

.wordwrap {
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* Opera <7 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE */
}
.data {     
    margin-bottom: 40px;        
}       
.user-name {        
font-weight: bold;      
}       
.tweet-text {       
    margin-bottom: 10px;        
}       
.coordinates {      
    margin-bottom: 10px;        
}       
.red {      
    color: red;     
}       
.green {        
    color: green;       
}       
.blue {     
    color: blue;        
}